#CACHE{0}
<div class="bloc_formulaire" id="abonnement_newsletter">
	[(#SET{info_adherent,#INFOS_ADHERENT})]
	<h3>Liste des infolettres</h3>
	<div class="ajax">
		[(#FORMULAIRE_EDITER_EMAIL_SUBSCRIPTION{#GET{info_adherent}|table_valeur{email}})]
	</div>
</div>

